header {
  background: url(./pic/png/header-background.png);
  background-repeat: no-repeat;
  background-position: center;
  height: 1001px;
}
.header-list {
  display: flex;
  align-items: center;
  gap: 35px;
  &__img {
    margin-right: 584px;
  }
  &__link {
    color: $header-link-color;
    font-family: $roboto-fonts;
  }
  &__button{
    background-color: $header-link-color;
    border-radius: 12px;
    border: none;
    padding: 6px 6px;
    font-family: $roboto-fonts;
    color: $button-text;
    font-size: 16px;
  }
}
.section-text-list{
  padding-top: 131px;
  text-align: center;
  gap: 20px;
    &__item{
        color: $header-link-color;
        font-family: $roboto-fonts;
    }
    &__title{
        font-size: 46px;
        margin: 0;
    }
    &__paragraph{
        font-size: 22px;
    }
    &__button{
      color:  $header-link-color;
      font-size: 18px;
      background-color: $button-color;
      border-radius: 12px;
      padding: 9px 15px;
      border: none;
    }
}
.pic-section-img{
  padding-top: 70px;
  margin-left: 27px;
}
