.plans-section{
    padding-top: 58px;
}
.plans-title{
    font-family: $roboto-fonts;
    color: $main-text-color;
    font-size: 42px;
    text-align: center;
    margin-bottom: 14px;
}
.plans-paragraph{
    font-family: $roboto-fonts;
    color: $main-text-color;
    font-size: 19px;
    text-align: center;
}
.plans-div-card{
    width: 405px;
    height: 484px;
    border-radius: 24px;
    box-shadow: 0px 1.25px 2.21px 0px rgba(38, 44, 59, 0.02);
    padding: 50px 50px;
    &__title{
        font-family: $roboto-fonts;
        color: $main-text-color;
        font-size: 29px; 
    }
    &__paragraph{
        font-family: $roboto-fonts;
        color: $main-text-color;
        font-size: 18px; 
    }
    &__price{
        margin-top: 22px;
        font-family: $roboto-fonts;
        color: $main-text-color;
        font-size: 50px; 
        margin-bottom: 13px;
    }
    &__span{
        font-family: $roboto-fonts;
        color: rgba(38, 44, 59, 0.5);
        font-size: 24px; 
        margin-left: 13px;
    }
    &__button{
        font-family: $roboto-fonts;
        color: $header-link-color;
        font-size: 17px;
        background-color: $button-color;
        width: 306px;
        height: 48px;
        border: none;
        border-radius: 12px;
    }
}
.plans-div-card-list{
    padding: 0;
    &__item{
        display: flex;
        gap: 10px;
    }
    &__paragraph{
        font-family: $roboto-fonts;
        color: $main-text-color;
        font-size: 16px; 
    }
}